<mat-card-subtitle> Listing all Suppliers </mat-card-subtitle>

@if (suppliers$ | async; as suppliers) {

  <div class="container wrap">
  @for( supplier of suppliers; track supplier.id) {
    <app-supplier-card [supplier]="supplier"></app-supplier-card>
  } @empty {
    <span>Without suppliers. Please create one in the "New" Button</span>
  }
  </div>

} @else {
  <loading-bar></loading-bar>
}

@if (error) {
  <span>{{ error }}</span>
}

<mat-card-actions align="end">
  <button mat-button [routerLink]="['/suppliers/new']">
    New
  </button>
</mat-card-actions>
