/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.item-20 { flex: 0 0 20%; }
.item-30 { flex: 0 0 30%; }
.item-40 { flex: 0 0 40%; }
.item-50 { flex: 0 0 50%; }
.item-60 { flex: 0 0 60%; }
.item-70 { flex: 0 0 70%; }
.item-80 { flex: 0 0 80%; }
.item { flex: 1 1 auto; }
.center {
  align-items: center;
  justify-content: center;
}
/* tablet or mobile */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 5px;
  }
}
